<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137688050211-sclp7itrp432mp4nrkde7869nflj0irh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137688050211-sclp7itrp432mp4nrkde7869nflj0irh</string>
	<key>API_KEY</key>
	<string>AIzaSyAUNdQLAKhzUDoVg5JaihK_9BLHdgHrBxE</string>
	<key>GCM_SENDER_ID</key>
	<string>137688050211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appstonelab.apsladsdemo</string>
	<key>PROJECT_ID</key>
	<string>app-demo-with-apsl-ads</string>
	<key>STORAGE_BUCKET</key>
	<string>app-demo-with-apsl-ads.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137688050211:ios:3daf082041c72ffb54df96</string>
	<key>DATABASE_URL</key>
	<string>https://app-demo-with-apsl-ads-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>